<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
body{
  background:url("https://images.unsplash.com/photo-1514134583630-250e42c36dbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
background-size: cover;
}
</style>
</head>
<body>

<h2>WORKING HOURS</h2>

<table>
  <tr>
    <th>DAYS</th>
    <th>HOURS</th>

  </tr>
  <tr>
    <td>WEEK DAYS</td>
    <td>7AM TO 9 PM</td>

  </tr>
  <tr>
    <td>WEEKENDS</td>
    <td>7AM TO 11PM</td>

  </tr>

</table>

</body>
</html>
