<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OPMS HTML CSS Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="{{ url_for('static',filename='css/OPMS.css') }}" rel="stylesheet" />

</head>

<body>
    <div class="tm-container">
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-graduation-cap"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">VITxAM</h1>
                            <p class="tm-slogon">Online Proctoring System</p>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button"
                            data-toggle="collapse" data-target="#navbar-nav"
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="features">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="exam">Exam</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">Feeling Heavy? </h2>
                        <i class="mb-5" style="font-size: 20px; font-family: inherit;"  >“Believe in yourself, take on your challenges, dig deep within yourself to conquer fears. Never let anyone bring you down. You got to keep going.” <br><p class="mb-4" style="text-align: right;">- Chantal Sutherland</p></i>
                        <hr class="mb-4">
                        <i class="mb-4" style="font-size: 20px;" >Through face detection, we can find out:
The eye movements of the attendee,
Pupil movements,
Direction of movement of the attendee’s face.</i> <br>    <br>  <br>
                        <!-- <hr class="mb-5"> -->
                        <a href="login" class="btn btn-primary">LOGIN </a>
                    </section>
                </main>
            </div>
        </div>

        <div class="tm-row">
            <div class="tm-col-left text-center">
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>
            </div>
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Copyright 2020 VITxAM Co.

                    <!-- | Design: <a rel="nofollow" target="_parent" href="https://opms.com" class="tm-text-link">opms</a></p> -->
                </footer>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.backstretch.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/opms-script.js') }}"></script>
</body>
</html>
