<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
body{
  background:url("https://images.unsplash.com/photo-1514134583630-250e42c36dbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
background-size: cover;
}
</style>
</head>
<body>

<h2>MENU:</h2>

<table>
  <tr>
    <th>Food Items</th>
    <th>Special Items</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Sandwiches</td>
    <td>With cheese</td>
    <td>Rs 100</td>
  </tr>
  <tr>
    <td>Meals</td>
    <td>North/South</td>
    <td>Rs 500</td>
  </tr>
</table>

</body>
</html>
