<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
body{
  background:url("https://images.unsplash.com/photo-1514134583630-250e42c36dbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
background-size: cover;
}
</style>
</head>
<body>

<h2>OFFERS:</h2>

<table>
  <tr>
    <th>Food Items</th>
    <th>OFFERS</th>

  </tr>
  <tr>
    <td>MEALS</td>
    <td>50%</td>

  </tr>
  <tr>
    <td>CHATS</td>
    <td>20%</td>

  </tr>
  <tr>
    <td>BIRYANI</td>
    <td>50%</td>

  </tr>
</table>

</body>
</html>
